.widget.largo-donate .btn.btn-primary {
  background-color: #faba33;
  color: #333;
  font-weight: 500;
}
.widget.largo-donate .btn.btn-primary:hover {
  background-color: #fcdc97;
  color: #333 !important;
}
.subscribe-btn {
  float: left;
  margin: 5px 0 0 10px;
  background: #00a0d2;
  font-size: 14px;
  line-height: 2;
}
.subscribe-btn a {
  padding: 24px 7px;
  color: #FFF;
}
.subscribe-btn a:hover {
  text-decoration: none;
  color: #FFF;
}
.subscribe-btn:hover {
  background: #008db9;
}
.subscribe .subscribe-link span {
  padding: 4px 8px;
  color: #FFF;
  background-color: #00a0d2;
  font-size: 16px;
}
.subscribe .subscribe-link span:hover {
  background-color: #008db9;
}
.subscribe .subscribe-link:hover {
  background: transparent;
}
.subscribe:hover {
  background: transparent;
}
/* ==========================================================================
Custom Homepage Featured Section Styles
========================================================================== */
#dark-top h5 span.post-category-link a {
  color: #999;
}
#dark-top .side-featured article.featured-story {
  border-top: solid 3px rgba(153, 153, 153, 0.5);
}
/* ==========================================================================
Custom Hyperlink Styles
========================================================================== */
a,
.largo-INN-RSS .widgettitle a,
#site-footer h2.widgettitle,
#site-footer h3.widgettitle,
#site-footer li.menu-label,
#site-footer p,
#site-footer #ft-social li i {
  color: #333;
}
a:hover,
.largo-INN-RSS .widgettitle a:hover {
  color: #999;
}
.page .entry-content a,
.single .entry-content a {
  color: #00a0d2;
  text-decoration: none;
}
.single .entry-content a:hover,
.page .entry-content a:hover {
  color: #999;
  text-decoration: underline;
}
.btn-primary,
.btn-primary:hover {
  background-color: #333;
}
.btn-primary:hover {
  color: #999;
}
/* ==========================================================================
Custom Typography
========================================================================== */
body,
p,
#content ul,
#content ol {
  font-family: "ff-meta-serif-web-pro", Georgia, serif;
  font-weight: 500;
}
h1,
h2,
h3,
h4,
h5,
h6,
#menu-footer-navigation li.menu-label {
  font-family: "prenton-condensed", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
}
.entry-content h1,
.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5 {
  font-weight: 700;
  font-family: "prenton-condensed", "Helvetica Neue", Helvetica, sans-serif;
  letter-spacing: 1px;
}
.footer-bg {
  background-color: #FFF;
}
/* correct weights using brandfont this sans is too narrow/bold for */
h5.byline {
  font-weight: 300;
  font-family: "lft-etica", "Helvetica Neue", Helvetica, sans-serif;
}
h5.byline span.author {
  font-weight: 700;
}
.entry-content .byline span.author,
.entry-content .byline span.entry-date,
.entry-content .byline span.edit-link {
  font-weight: 700;
}
body.normal.single-post article.post > header h5.top-date,
body.normal.page article.post > header h5.top-date {
  font-family: "lft-etica", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 300;
}
/* nice captions are nice */
body.normal.single-post .hero p.wp-media-credit,
body.normal.page .hero p.wp-media-credit {
  font-family: "lft-etica", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}
/* helvetica overrides */
.rss-subscribe-link,
.tags,
.pager,
#menu-footer-navigation,
#supplementary ul.menu,
#site-footer input,
#site-footer select,
.navbar,
input,
button,
select,
textarea,
.btn {
  font-family: "lft-etica", "Helvetica Neue", Helvetica, sans-serif;
}
/* ==========================================================================
Custom Header (Centered Text)
========================================================================== */
header h1.branding span {
  font-family: "lft-etica", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 800;
  font-size: 8vw;
  text-align: center;
  display: block;
}
@media (min-width: 1200px) {
  header h1.branding span {
    font-size: 8rem;
  }
}
.navbar.sticky-navbar .nav-right #header-extras .donate a span,
.donate-btn {
  background-color: #faba33;
  color: #333;
}
.navbar.sticky-navbar .nav-right #header-extras .donate a span:hover,
.donate-btn:hover {
  background-color: #fcdc97;
}
.donate-btn a {
  color: #333;
}
.donate-btn .icon-heart {
  display: none;
}
@media (max-width: 480px) {
  #header-extras li.donate {
    display: block;
    font-size: 14px;
  }
}
/* ==========================================================================
Custom Navigation
========================================================================== */
#main-nav .navbar-inner {
  text-align: center;
  font-family: "lft-etica", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 300;
}
#main-nav .navbar-inner .nav-shelf {
  display: inline-block;
}
#main-nav .navbar-inner .nav {
  display: inline-block;
  float: none;
  margin-top: 0.5em;
}
/*# sourceMappingURL=css/child.css.map */